<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sonatrach{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo Sonatrach">
            <span>Sonatrach Well Monitoring System</span>
        </div>
        <nav>
            <ul>
                <li><a href="{{ url_for('routes.index') }}">Accueil</a></li>
                <li><a href="{{ url_for('routes.logout') }}">Deconnecter</a></li>
            </ul>
        </nav>
    </header>
    <div class="container-fluid">
        <div class="sidebar">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
            {% if current_user.is_authenticated %}
                <span class="user-name">{{ current_user.username }}</span>
            {% endif %}
            <a href="{{ url_for('routes.dashboard_user') }}"><i class="fa fa-home"></i> Dashboard</a>
            <a href="{{ url_for('routes.profile') }}"><i class="fa fa-user"></i> Profil</a>
            <a href="{{ url_for('routes.carte') }}"><i class="fa fa-map"></i> Carte</a>
            <a href="{{ url_for('routes.settings') }}"><i class="fa fa-cog"></i> Paramètres</a>
        </div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
    
</body>
</html>
