{% extends 'user/base_user.html' %}

{% block title %}Profil Utilisateur{% endblock %}

{% block content %}
<div class="profile-container">
    <div class="profile-card">
        <h2 class="profile-title">Profil Utilisateur</h2>
        <div class="profile-image-wrapper">
            <img src="/static/uploads/{{ current_user.profile.image_url }}" alt="Photo de profil" class="profile-image">

        </div>
        <ul class="profile-info">
            <li><strong>Nom :</strong> {{ current_user.profile.nom }}</li>
            <li><strong>Prénom :</strong> {{ current_user.profile.prenom }}</li>
            <li><strong>Adresse :</strong> {{ current_user.profile.adresse }}</li>
        </ul>
    </div>
</div>
{% endblock %}
